<div class="body">
    <div class="title">
        <span class="application-title">Low Luck Stat Generator</span>
        <span class="video-link-title">(see <a href="">this video</a> for details)</span>
    </div>
    <div class="buttons">
        <p class="deal-piles-button enabled">Deal Card Piles</p>
        <p class="clear-piles-button disabled">Clear Piles and Shuffle</p>
        <p class="swap-card-button disabled">Swap a Card From Two Piles</p>
        <p class="apply-stats-button disabled">Apply Stats</p>
    </div>
    <ul class="pile-list">
    {{#each piles}}
        <li class="pile" id="pile-{{@index}}">
            <div class="card-stack">
                {{#this}}
                    <img class="card-image card-stacked-{{@index}}x" src="/modules/lowluckstatgen-dnd5e/images/cards/{{imageName}}"></img>
                {{/this}}
            </div>
            <div class="stat-picker-label">Choose stat:</div>
            <div class="stat-picker"></div>
            <div class="total">Total:</div>
        </li>
    {{/each}}
    </ul>
</div>