<div class="body">
    <div class="title">
        <span class="application-title">Low Luck Stat Generator</span>
        <span class="video-link-title">(see <a href="https://www.youtube.com/watch?v=3SkT1MJ6im8">this video</a> for details)</span>
    </div>
    <div class="messages">
        <p class="instruction-header">Instructions:</p>
        <p class="instruction-message">{{message}}</p>
    </div>
    <div class="buttons">
        <p class="deal-piles-button {{isEnabled 'deal-piles-button'}}">Deal Card Piles</p>
        <p class="swap-card-button {{isEnabled 'swap-card-button'}}">Swap a Card From Two Piles</p>
        <p class="apply-stats-button {{isEnabled 'apply-stats-button'}}">Apply Stats and Close</p>
    </div>
    <ul class="pile-list">
    {{#each piles}}
        {{> pile this }}
    {{/each}}
    </ul>
</div>