<div class="body">
    <div class="title">
        <p class="application-title">Low Luck Stat Generator</p>
        <p class="video-link-title">(see <a href="">this video</a> for details)</p>
    </div>
    <div class="buttons">
        <p class="deal-piles-button">Deal Card Piles</p>
        <p class="clear-piles-button">Clear Piles and Shuffle</p>
        <p class="swap-card-button">Swap a Card From Two Piles</p>
        <p class="apply-stats-button">Apply Stats</p>
    </div>
    {{!-- iterate over card things to display them }}
    {{ --}}
</div>