div.body {
    width: 1050px;
    height: 750px;
}

div.title {
    padding: 10px bottom;
}

div.title > span {
    font-size: large;
}

div.buttons > p {
    border: 1px solid black;
    padding: 4px;
    display: inline;
}

div.buttons > p.enabled {
    color: black;
}

div.buttons > p.disabled {
    color: gray;
}

ul.pile-list {
    list-style: none;
}

li.pile {
    border: 1px solid black;
    width: 320px;
    height: 340px;
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

div.card {
    border: 1px solid black;
    z-index: 1;
    transition: 0.2s;
}

img.card-image {
    width: 117px;
    height: 176px;
}

.card-image:not(:first-child) {
    margin-left: -4rem;
}

.card-stacked {
    margin-left: -1rem;
}