div.body {
    width: 900px;
    height: 600px;
}
div.title {
    margin: 0 0 5px 0;
}

div.title > span {
    font-size: large;
}

div.messages {
    border: 1px solid black;
}

div.messages > p {
    font-weight: bold;
}

p.instruction-header {
    padding: 0 0 0 5px;
}

div.messages > p.instruction-message {
    font-weight: normal;
    margin: 5px;
}

div.buttons {
    margin: 10px 0 0 0;
}

div.buttons > p {
    border: 1px solid black;
    padding: 4px;
    display: inline;
    background-color: #0a0a0a;
    font-weight: bold;
}

div.buttons > p.enabled {
    color: white;
}

div.buttons > p.disabled {
    color: gray;
}

ul.pile-list {
    list-style: none;
    padding: 0px;
}

li.pile {
    border: 1px solid black;
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

div.card-stack {
    margin-top: -10px;
}

div.card {
    border: 1px solid black;
    z-index: 1;
    transition: 0.2s;
}

img.card-image {
    width: 117px;
    height: 176px;
}

.card-image:not(:first-child) {
    margin-left: -4rem;
}

.card-stacked {
    margin-left: -1rem;
}

li.active-pile {
    background-color: #FFFCCC;
    border: 3px solid black;
}

div.pile-tag {
    display: inline-block;
    position: relative;
    top: -22px;
    left: 146px;
    width: 83px;
    height: 15px;
}

div.high-pile {
    background: url("../images/highest-lowest-spritesheet.png") 0 0;
}

div.low-pile {
    background: url("../images/highest-lowest-spritesheet.png") 0 -15px;
}

.pile-label {
    font-size: large;
}